/*styles pour le header*/
header{
	background: #66b3ff;
}
h1{
	color: #fff;
	text-align: center;
	padding: 20px;
}
nav ul {
	list-style: none;
	margin: o;
	padding: 0;
	display: plex;
	justify-content: center;
}
nav li{
	margin: 0 20px;
}
nav a{
	color: #fff;
	text-decoration: none;
	font-zise: 18px;
}
nav a:hover{
	color: #ff9933;
}
/*style pour les sections*/
section{
	padding: 40px;
	margin: $0px 0;
	background: #fff;
	box-shadow: 0px 2px 10px #ccc;
}
h2{
	font-size: 36px;
	margin-top: 0;
}
p{
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 20px;
}
ol{
	liste-style: decimal;
}
a{
	color: #ff9933;
	text-decoration: none;
}
a:hoder{
	text-decoration: underline;
}
/*style pour le footer*/
footer{
	background: #ccc;
	padding: 20px;
	text-align: center;
}
